<div class="header" role="header">
    <img width="40" alt="DabGames Logo" src="../../../assets/img/logo.jpg" />

    <span>DabGames</span>

      <div class="spacer"></div>

      <!-- <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
        <mat-icon>person</mat-icon>
      </a> -->
      <div class="iconos">
            <a href="#"><mat-icon>shopping_cart</mat-icon></a>
            <a href="#"><mat-icon>person</mat-icon></a>
      </div>
      

      <!-- <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
        <mat-icon>person</mat-icon>
      </a> -->
      
</div>