<app-header></app-header>

<div class="mx-auto divContainer">
    <div class="mt-5 text-center">
        <h1 class="pt-5 pb-5 text-6xl">Juega con nosotros</h1>
    </div>
    <br>
    <div class="mt-6">
        <app-tarjeta-juego></app-tarjeta-juego>
    </div>
</div>

<hr class="mb-5 pb-5 mx-5">
<div class="m-auto text-center mb-5 pb-5">
    <button  id="anadirJuego" class="text-black text-lg bg-orange-400 w-48 h-12 rounded hover:bg-transparent border border-orange-400 hover:text-white">Añadir Juego</button>
</div>

<app-footer></app-footer>