<div class="text-start mt-5 grid grid-cols-13 gap-12 divBanner">
    <div class="pt-5 col-end-12 col-span-2"></div>
    <div class="col-end-10 col-span-3">
        <span><img src="../../../assets/img/BP_logo_TM.svg"></span>
        <h2 class="mt-5">A partir de 2023</h2>
        
    </div>
    <div class="pt-5 col-end-12 col-span-2"></div>
    <div class="pt-5 col-end-12 col-span-2"></div>
    <div class="pt-5 col-end-12 col-span-2"></div>
    <div class="pt-5 col-end-12 col-span-2"></div>

</div>